mixin corporate-regform()
  form.b-corporate-registration(action="")&attributes(attributes)
    fieldset
      .field
        label Имя
        input(type="text")
      .field
        label Email
        input(type="email")